
/*
#div_img_main h1{
  background-color: rgba(0 , 0, 0, 0.7 );
  border-radius: 5px;
  padding: 1em;
  margin:  1em;
}
*/

#div_img_main2 h1{
/*
  background-color: rgba(0 , 0, 0, 0.7 );
  margin:  1em;
*/
  margin: 0px;
  font-weight: bold;
  border-radius: 5px;
  padding: 3em;
}

#div_img_layer{
  background-color: rgba(0 , 0, 0, 0.3 );
  width :100%;
  height : 100%;
  /*
border-radius: 5px;
padding: 1em;
margin:  1em;  
  */
}

#div_head p{
  margin: 0;
  padding:0;
  /*文字の装飾は省略*/
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 2em;/*サイズ2倍*/
}
.p_head_str1{
  margin: 0;
  padding:0;
  color: white;/*文字は白に*/
  font-size: 16px;/*サイズ2倍*/
}

.head-image {/*親div*/
  position: relative;/*相対配置*/
  }

/* left: 50%; */  

.head-image p {
  position: absolute;
  top:  5px;
  left: 20px;
  /*
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);  
  */
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 3em;/*サイズ2倍*/
/* font-family :Quicksand, sans-serif; */
  }

  
.head-image img {

/*  max-height : 400px;
 width: 100%; ;*/ 
}

.td_mid_text{
  padding:20px;
}
.td_mid_text_w{
  background-color: #295ea4;
  padding:20px;
  color : #fff;
  font-weight: bold;
}
.td_mid_text_w2{
  background-color: #2196F3;
  padding:20px;
  color : #fff;
  font-weight: bold;
}

.td_mid_text p{
  font-size : 20px;
}

.h4_td_title{
   color: #FFA726;
  font-weight: bold;
/*
  font-size: 34px;
*/
  
}

.p_date_str {
  color:gray;
}

.p_foot_str{
 color:#FFF;
}

div#id_main_conte{
/* background-color: #FFF; */

}
.row{
/*
  background-color: #FFF; 
*/
}

/*
div#id_head_row {
  background :  #1976D2;
}

*/

.hr_ex1{
	height:1px;
	background-color: #000;
	border: none;
}
.row.conte{
	background-color: #FFF;
}